<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="16" id="aicog2017.mobile.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AICOG 2017</name>
    <description>

        AICOG 2017 Ahmedabad mobile app version

    </description>
    <author email="patel.kalpeshbeit2010@gmail.com" href="http://cordova.io">

        aicog2017.com

    </author>
    <allow-navigation href="http://*/*" />
    <icon src="icon.png" />
    <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
    <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
    <icon height="120" platform="ios" src="www/res/icon/ios/icon-60-2x.png" width="120" />
    <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
    <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
    <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
    <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
    <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
    <icon height="80" platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" />
    <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
    <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
    <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
    <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
    <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
    <icon height="100" platform="ios" src="www/res/icon/ios/icon-50@2x.png" width="100" />
    <splash src="splash.png" />
    <splash platform="android" qualifier="ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="hdpi" src="www/res/screen/android/screen-hdpi-portrait" />
    <splash platform="android" qualifier="xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
    <splash height="480" platform="ios" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
    <splash height="960" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <splash height="1136" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <splash height="1334" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-667h.png" width="750" />
    <splash height="2208" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="1242" />
    <splash height="1024" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="768" />
    <splash height="768" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="1024" />
    <splash height="2048" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="1536" />
    <splash height="1536" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="2048" />
    <content src="index.html" />
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-geolocation" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" />
    <preference name="android-build-tool" value="gradle" />
    <plugin name="phonegap-plugin-push" source="npm" spec="~1.4.5">
        <param name="SENDER_ID" value="684191859302" />
    </plugin>
    <preference name="orientation" value="portrait" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="permissions" value="none" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="LoadUrlTimeoutValue" value="50000" />
    <plugin name="org.apache.cordova.splashscreen" source="npm" />
    <access origin="*" />
    <plugin name="cordova-admob" spec="~4.1.16" />
</widget>
